* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-blu{
    background-color: #255EE9;
}
a{
    text-decoration: none;
    color: white;
}
.flexo{
    display: flex;
    justify-content: space-evenly;
}
.flexo1{
    display: flex;
    justify-content: space-evenly;
}
.m-le{
    margin-left: 100px;
}
.bot1{
    border-radius: 60px;
    border-color: white;
    background-color: white;
    font-size: 80%;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
}
.bg-nero{
    background-colo-r: #23272A;
    background-color: red;
}
.bg-im1{
    background-image: url("../img/jumbo.png");
    background-size: 100%;
    background-position: 70%;
}
.pad{
    padding: 50px;
}
.pad1{
    padding: 70px;
}
.pad2{
    padding: 40px;
    padding-right: 200px;
}
.pad3{
    padding: 50px;
    padding-left: 200px;
}
.bianco{
    color: white;
}
.m-bu{
    margin-right: 20px;
}

.bottoni{
    border-radius: 60px;
}